html, body {
    height: 100%;
}

#content {
    padding: 0 15%;
}

#version {
    float: right;
    font-size: small;
    margin: 1em 1em 0 0;
}

h1 {
    clear: both;
}

#dev-border.dev {
    border: .5em solid rgba(255, 255, 0, .5);
    border-image: repeating-linear-gradient(
        -45deg,
        rgba(0, 0, 0, .5) 0,
        rgba(0, 0, 0, .5) 15px,
        rgba(255, 255, 0, .5) 0,
        rgba(255, 255, 0, .5) 30px
    ) 15;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#spoilers {
    display: block;
    margin: 0 auto;
}

h3 time {
    font-size: medium;
}

#target {
    text-align: center;
    padding: 3em 0;
    border: 10px #ccc dashed;
}

#target.active {
    border-color: #cfc;
}

#target.error {
    border-color: #fcc;
}

fieldset .pure-g .pure-u-12-24, fieldset .pure-g .pure-u-1 {
    margin: .1em 0;
}

.spoilers {
    float: right;
}

#spoilers {
    visibility: hidden;
}

#notification {
    padding: 1em;
    margin: 10px;
    background: #cfc;
    border-radius: .5em;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}

#notification.success {
    display: block;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

#notification.success.hide {
    opacity: 0;
}

#preset-select.hide {
    visibility: hidden;
}

#loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

#loader.hide {
    visibility: hidden;
}

#loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

#fork {
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip-indicator {
    font-size: small;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
}

.tooltip-wrapper {
    cursor: help;
    position: relative;
}

.tooltip-wrapper .tooltip {
    background: #fff;
    bottom: 100%;
    display: block;
    margin-bottom: 1em;
    opacity: 0;
    padding: 1.25em;
    pointer-events: none;
    position: absolute;
    width: 320px;
    transform: translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltip-wrapper .tooltip:before {
    bottom: -20px;
    content: ' ';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.tooltip-wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}

#preset-author {
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: small;
    color: #999;
}
