body {
    text-align: center;
    margin: 0;
}

#content {
    display: table;
    margin: auto;
    border-collapse: collapse;
}

.empty {
    border: none !important;
}

.row {
    display: table-row;
}

.row div {
    display: table-cell;
    border: 1px solid black;
    vertical-align: middle;
}

.row .col-header, .row .row-header {
    font-size: x-small;
}

.row .col-header {
    border-top: none;
}

.row .row-header {
    border-left: none;
}

.row div.zero {
    background-color: #777;
}

.row div.below-average {
    background-color: lightgreen;
}

.row div.average {
    background-color: yellow;
}

.row div.above-average {
    background-color: orangered;
}

.row div.a-lot {
    background-color: darkred;
}

.hidden {
    display: none;
}

#meter {
    padding: 3px;
    border: 1px #000 solid;
    position: absolute;
    margin-top: -.5em;
    top: 50%;
    left: 25%;
    right: 25%;
}

#progress {
    width: 0;
    height: 1em;
    background: #000;
}
